<h1>Listing locations_locationsets</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Locationset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations_locationsets.each do |locations_locationset| %>
  <tr>
    <td><%= locations_locationset.location_id %></td>
    <td><%= locations_locationset.locationset_id %></td>
    <td><%= link_to 'Show', locations_locationset %></td>
    <td><%= link_to 'Edit', edit_locations_locationset_path(locations_locationset) %></td>
    <td><%= link_to 'Destroy', locations_locationset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Locations locationset', new_locations_locationset_path %>
