<%= form_for(@userparam) do |f| %>
  <% if @userparam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userparam.errors.count, "error") %> prohibited this userparam from being saved:</h2>

      <ul>
      <% @userparam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :value_1 %><br />
    <%= f.text_field :value_1 %>
  </div>
  <div class="field">
    <%= f.label :value_2 %><br />
    <%= f.text_field :value_2 %>
  </div>
  <div class="field">
    <%= f.label :value_3 %><br />
    <%= f.text_field :value_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
