<h1>Listing audiofiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audiofiles.each do |audiofile| %>
  <tr>
    <td><%= audiofile.name %></td>
    <td><%= audiofile.url %></td>
    <td><%= link_to 'Show', audiofile %></td>
    <td><%= link_to 'Edit', edit_audiofile_path(audiofile) %></td>
    <td><%= link_to 'Destroy', audiofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audiofile', new_audiofile_path %>
