<%= form_for(@locationset) do |f| %>
  <% if @locationset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locationset.errors.count, "error") %> prohibited this locationset from being saved:</h2>

      <ul>
      <% @locationset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location_ids %><br />
    <%= f.collection_select :location_ids, Location.all, :id, :name, {}, { :multiple => true, :selected => 'locationset[location_ids]', :name => 'locationset[location_ids][]' } %>
  </div>
  <div class="field">
    <%= f.label :user_ids %><br />
    <%= f.collection_select :user_ids, User.all, :id, :name, {}, { :multiple => true, :selected => 'locationset[user_ids]', :name => 'locationset[user_ids][]' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
