<h1>Listing locationsets_users</h1>

<table>
  <tr>
    <th>Locationset</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locationsets_users.each do |locationsets_user| %>
  <tr>
    <td><%= locationsets_user.locationset_id %></td>
    <td><%= locationsets_user.user_id %></td>
    <td><%= link_to 'Show', locationsets_user %></td>
    <td><%= link_to 'Edit', edit_locationsets_user_path(locationsets_user) %></td>
    <td><%= link_to 'Destroy', locationsets_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Locationsets user', new_locationsets_user_path %>
